P {
    color: white;
    text-align: left;
    font-weight: lighter;
    font-family: sans-serif;
}

@media all {
    #philosophyPage {
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #aptitudDayPage {
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }

    #bloggPage {
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
     #mapPage {
        padding-top: 5px;
        padding-left: 10%;
        padding-right: 10%;
    }

    P {
        font-size: 0.6em;
    }
}


@media all and (orientation:portrait) {
 
    P {
        font-size: 2em;
    }

    .bloggText {
        font-size: 1.7em;
    }

    #klotter {
        width: 70%;
    }

   
    

}

@media all and (orientation:landscape) {
    #klotter {
        width: 40%;
        
    }
   

}